<?xml version="1.0"?>
<launch>
    <!--<node name="ImuFilter" pkg="imu_filter_madgwick" type="imu_filter_node"/>
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_base_footprint" args="0 0 0 0 0 0 /base_link /imu_link 100" /> -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find MPU9250)/rviz/imu.rviz" required="true"/>
</launch>